/*? advanced search mobile drop down select */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none !important;
}

.select-selected {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 14px !important;
  overflow: hidden;
  font-size: 14px !important;
}

.select-selected:after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f077";
  font-size: 14px;
  padding: 4px 9px;
  background: #141415;
  top: 20%;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: transform 0.5s;
}

.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}

.select-items div,
.select-selected {
  color: #ffffff;
  padding: 3px 8px;
}

.select-items {
  position: absolute;
  background-color: #040406;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(46, 46, 46);
}

.select-items div {
  font-size: 13px !important;
  padding: 5px 10px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #b86400;
}

.same-as-selected {
  border: 1px solid #c8730a !important;
}

/*? for sweetalert */

.swal-modal {
  background-color: #141923;
}

.swal-title {
  color: #DBDCDD;
}

.swal-text {
  color: #DBDCDD;
  text-align: center;
}

.swal-overlay {
  z-index: 40 !important;
}

.swal-footer {
  display: flex;
  justify-content: center;
}

.swal-button {
  background-color: #B2670E;
  border-radius: 10px;
  transition: 1s;
}

.swal-button--confirm:hover {
  background-color: #B2670E !important;
}

/*? for intro desktop background color */

@media screen and (min-width: 1024px) {
  .desktop-intro-bg-color {
      background: linear-gradient(270deg,#0a0d10 50%,rgba(10,13,16,0));
  }
}

/*? intro desktop background image*/

.desktop-intro-bg-img {
  background: linear-gradient(270deg,#0a0d10 0.1%,rgba(10,13,16,0));
  z-index: 10;
}

/*? select drop down desktop advanced search */

.search-advanced-desktop .select-selected {
  border-radius: 20px;
  width: 100%;
}

.search-advanced-desktop .select-selected:after {
  position: absolute;
  top: 24%;
}

.advanced-filter-dropdown .select-selected:after {
  position: absolute;
  top: 20%;
}

/*? after psudo for advanced-filter menu desktop */

.triangle::before{
  border: 15px solid transparent;
  border-bottom-color: #0f121b;
  bottom: 100%;
  content: "";
  display: block;
  left: 18%;
  position: absolute;
  z-index: 2;
}

/*? after psudo for advanced-category menu desktop */

.triangle::before{
  border: 15px solid transparent;
  border-bottom-color: #0f121b;
  bottom: 100%;
  content: "";
  display: block;
  left: 18%;
  position: absolute;
  z-index: 2;
}

/*? after for category menu desktop */

.desktop-category-menu::before{
  left: 71%;
}

@media screen and (min-width: 1024px) {
  .desktop-category-menu::before{
    left: 88%;
  }
}

/*? active style for desktop category item */

.desktop-category-menu .active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white !important;
}

/*? show active desktop category content */

#desktop-category-content .active {
  display: grid !important;
  background-color: transparent;
}

/*? for toggle theme switch to moon */

.toggle-to-moon {
  right: 58px !important;
}

/*? for toggle switch active */

.circle-to-r {
  right: 3px !important;
}

.toggle-active-bg {
  background-color: #E88209 !important;
}

.circle-bg {
  background-color: #141822 !important;
}